{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<title>Order Online</title>
</head>
<body>

  <div class="container-lg p-0">
		{% if user.is_authenticated %}
			{% include 'snippets/navbar.html' %}
		{% endif %}

    {% block content %}

    {% endblock content %}
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

	<script>
		$(document).ready(function(){
			// Activate tooltip
			$('[data-toggle="tooltip"]').tooltip();

			// Select/Deselect checkboxes
			var checkbox = $('table tbody input[type="checkbox"]');
			$("#selectAll").click(function(){
				if(this.checked){
					checkbox.each(function(){
						this.checked = true;
					});
				} else{
					checkbox.each(function(){
						this.checked = false;
					});
				}
			});
			checkbox.click(function(){
				if(!this.checked){
					$("#selectAll").prop("checked", false);
				}
			});
		});
	</script>

	<script>
		// iterate using Array method for compatibility
		Array.prototype.forEach.call(document.querySelectorAll('[type=radio]'), function(radio) {
		radio.addEventListener('click', function(){
			var self = this;
			// get all elements with same name but itself and mark them unchecked
			Array.prototype.filter.call(document.getElementsByName(this.name), function(filterEl) {
				return self !== filterEl;
			}).forEach(function(otherEl) {
				delete otherEl.dataset.check
			})

			// set state based on previous one
			if (this.dataset.hasOwnProperty('check')) {
				this.checked = false
				delete this.dataset.check
			} else {
				this.dataset.check = ''
			}
		}, false)
		})
	</script>

</body>
</html>
