{% extends 'base.html' %}


{% block content %}
<div id="logreg-forms">
  <form action="" method="post">
    {% csrf_token %}

    {% include 'account/snippets/title.html' with title='Password Reset' %}

    {% include 'account/snippets/nonfield_errors.html' %}

    <p class="text-center">
      <strong>
        Please enter your new password twice so we can verify you typed it in correctly.
      </strong>
    </p>

    {% include 'account/snippets/form_snippet.html' %}


    <button class="btn btn-success btn-block" type="submit">
      Change My Password
    </button>


    {% include 'account/snippets/link_login.html' with action='Sign In' %}

    <hr>
  </form>
</div>
{% endblock content %}
