{% extends 'base.html' %}

{% block content %}
  <h3 class="text-center text-uppercase font-weight-bold">Today</h3>
  <nav>
    <div class="nav nav-tabs justify-content-center" role="tablist">
      <a class="nav-item nav-link active" data-toggle="tab" href="#breakfast">Breakfast Report</a>
      <a class="nav-item nav-link" data-toggle="tab" href="#lunch">Lunch Report</a>
      <a class="nav-item nav-link" data-toggle="tab" href="#dinner">Dinner Report</a>
    </div>
  </nav>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="breakfast" role="tabpanel">

    </div>



    <div class="tab-pane fade show" id="lunch" role="tabpanel">
      <br>
      {% include 'order/snippets/pagination.html' %}
      <h3 class="text-center text-uppercase font-weight-bold">Lunch Report</h3>
      <table class="table table-striped table-bordered">
        <thead class="bg-info text-white">
          <tr class="text-center">
            <th scope="col">Room</th>
            <th scope="col">Starter</th>
            <th scope="col">Main Course</th>
            <th scope="col">Dessert</th>
            <th scope="col">Comment</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for order in lunch_list %}
            <tr class="text-center">
              <th scope="row">{{ order.room }}</th>
              <td>{{order.starter}}</td>
              <td>{{order.main}}</td>
              <td>{{order.dessert}}</td>
              <td>{{order.comment}}</td>
              <td>
                <a href="#" class="edit" title="Edit" data-toggle="tooltip">
                  <i class="material-icons">&#xE254;</i>
                </a>
                <a href="{% url 'order:delete' order.id %}" class="delete" title="Delete" data-toggle="tooltip">
                  <i class="material-icons">&#xE872;</i>
                </a>
              </td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>




    <div class="tab-pane fade" id="dinner" role="tabpanel">
      <div class="tab-pane fade show" id="lunch" role="tabpanel">
        <br>
        {% include 'order/snippets/pagination.html' %}

        <h3 class="text-center text-uppercase font-weight-bold">Dinner Report</h3>
        <table class="table table-striped table-bordered">
          <thead class="bg-info text-white">
            <tr class="text-center">
              <th scope="col">Room</th>
              <th scope="col">Starter</th>
              <th scope="col">Main Course</th>
              <th scope="col">Dessert</th>
              <th scope="col">Comment</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for order in dinner_list %}
              <tr class="text-center">
                <th scope="row">{{ order.room }}</th>
                <td>{{order.starter}}</td>
                <td>{{order.main}}</td>
                <td>{{order.dessert}}</td>
                <td>{{order.comment}}</td>
                <td>
                  <a href="#" class="edit" title="Edit" data-toggle="tooltip">
                    <i class="material-icons">&#xE254;</i>
                  </a>
                  <a href="{% url 'order:delete' order.id %}" class="delete" title="Delete" data-toggle="tooltip">
                    <i class="material-icons">&#xE872;</i>
                  </a>
                </td>
                </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </div>
{% endblock %}
