{% extends 'base.html' %}


{% block content %}
<div id="logreg-forms">
  <form action="{% url 'password_reset' %}" method="post">{% csrf_token %}

    {% include 'account/snippets/title.html' with title='Reset Password' %}

    <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
    {{form.email.errors}}

    <button class="btn btn-success btn-block" type="submit">
      Reset My Password
    </button>

    {% include 'account/snippets/link_login.html' with action='Back'%}

  </form>
</div>
{% endblock content %}
